data/
__pychache__/
venv/
.idea/
.idea/vcs.xml
.idea/vcs.xml
*.coviddata
__pycache__/Downloader.cpython-39.pyc
*.pyc
__pycache__/downloadFile.cpython-39.pyc
__pycache__/dailyDirectory.cpython-39.pyc
code_secret_client_247411167392-5qlr4h1jamrt1im9doekjlc032birac9.apps.googleusercontent.com.json
