<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Corona recap landing page
    </title>
    <meta charset="utf-8">
    <!-- Chargement de la librairie Javascript à utiliser -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>


<body>
<h1>
    Welcome to the Corona Recap's website.
</h1>
<select id="choosecountry" onchange="updateChartData()">
    <option value="FR">FR</option>
    <option value="BE">BE</option>
</select>
<div class="chart-container" style="position: relative; height: 20vh; width: 40vw">
    <canvas id="myChart" width="400" height="400"></canvas>
</div>

<script>
    var graph_data = $.getJSON("static/graph_data_cases.json", function(json){
        console.log(json)
    });
    var test = graph_data.responseText;
    console.log(test);
    console.log("here");
    const labels = Object.keys(fetch_data);
    const data = {
        labels: labels,
        datasets: [{
            label: 'Total cases',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [0, 10, 5, 2, 20, 30, 45],
        }]
    };
    const config = {
        type: 'line',
        data,
        options: {}
    };
    var casesGraph = new Chart(document.getElementById("myChart"),
        config
    );
</script>